<div routerLink="{{measurement?.id}}" routerLinkActive="active-card"
     class="card horizontal order hover-element no-border hoverable">
  <div class="center-align valign-wrapper">
    <div class="icon status-image">
      <i ngClass="{{iconInfo.color}}" class="small material-icons icon image">{{iconInfo.icon}}</i>
    </div>
  </div>
  <div class="card-stacked col s9 detail-col text">
    <div class="info">
      <div class="col s12 detail-col">
        <div class="company col s6 detail-col">{{measurement?.company?.name | companyName}}</div>
        <div class="col s6 detail-col right-align time valign-wrapper">
          <div style="display: inline-block">
            <i class="tiny material-icons icon card-date-icon">date_range</i>
            <span class="card-date">{{measurement?.date | dateFormat: 'date'}}</span>
          </div>
        </div>
      </div>
      <div class="main-info-card">
        <div class="address">{{measurement?.address | address}}</div>
        <div>{{measurement?.status | measurementStatus}}</div>
      </div>
    </div>
  </div>
</div>
