.main-page {
  background-color: #6783a0;
  height: 91vh;
}

.content {
  height: 70vh;
  border-radius: 15px;
}

.deal-info {
  padding: 10px 0 0 10px;
  color: #6280a0;
}

.offer {
  height: 8vh;
  font-size: 25px;
  text-align: center;
  line-height: 8vh;
}

.deal-status {
  height: 80px;
  width: 80px;
  border-radius: 50px;
  background-color: #ffa726;
  float: left;
  text-align: center;
  font-size: 42px;
  color: white;
  line-height: 80px;
  margin-right: 15px;
}

.company-name {
  font-size: 36px;
  padding-top: 30px;
  line-height: 1.4rem;
}

.status-info {
  padding-top: 6vh;
}

.contract-status {
  height: 20px;
  background-color: #5c6b96;
  border-radius: 10px;
}

nav {
  box-shadow: none;
  height: 8vh;
}

ul li {
  line-height: 8vh;
}

ul li a {
  height: 8vh;
}
