<div class="col s6 main-page">
  <div class="white-text offer">Объект {{deal?.offer}}</div>
  <div class="white content">
    <div class="deal-info">
      <div class="deal-status">{{deal?.company?.symbol}}</div>
      <div>
        <div class="company-name">{{deal?.company?.name}}</div>
        <div *ngFor="let client of deal?.clients">
          <p>{{client.client.fio}}</p>
        </div>
        <div>{{deal?.address | address}}</div>
        <div>{{deal?.address_comment}}</div>
        <div>{{deal?.sum | money}}</div>
        <div>{{deal?.non_cash | nonCash}}</div>
        <div>Создана: {{deal?.auto_date | dateFormat: 'fullDate'}}</div>
        <div>Изменялась: {{deal?.task_date | dateFormat: 'fullDate'}}</div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="status-info">
    <div class="col s5 detail-col">
      <div class="contract-status"></div>
    </div>
    <div class="col s5 offset-s2 detail-col">
      <div class="contract-status">{{deal?.contract}}</div>
    </div>
  </div>
</div>
<div class="col s6 detail-col">
  <div class="col s12 detail-col white" style="height: 49vh">
    <div style="height: 8vh; background: #6783a0"></div>
    <div class="header-measurement">Замеры</div>
    <div *ngFor="let measurement of deal?.measurements">
      <app-measurement-card [measurement]="measurement"></app-measurement-card>
    </div>
  </div>
  <div class="col s12 detail-col white" style="height: 42vh;">
    <div class="header-measurement">Монтажи</div>
    <div *ngFor="let mount of deal?.mounts">
      <app-mount-card [mount]="mount"></app-mount-card>
    </div>
  </div>
</div>


