<div class="col s12 detail-col scrollable-page" id="page">
  <div *ngIf="!deal" class="spinner-contener">
    <app-preloader></app-preloader>
  </div>
  <div *ngIf="deal" class="row main-row valign-wrapper">
    <div class="col s4 valign-wrapper">
      <img class="avatar" src="{{deal?.user.type | imageType}}">
      <div>{{deal?.user.first_name}} {{deal?.user.last_name}}</div>
    </div>
    <div class="col s3">{{getDealStatus(deal?.status)}}</div>
    <div [style.color]="deal?.contract ? 'green' : 'red'" class="col s2">{{deal?.contract | contract}}</div>
    <div class="col s3 valign-wrapper">
      <i class="tiny material-icons icon date-icon">date_range</i>
      <div class="deal-date">
        <div>Дата события: {{deal?.auto_date | dateFormat: 'date'}}</div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row main-info">
    <div class="col s7">
      <div class="offer">Сделка {{deal?.offer}}</div>
      <div class="status-container valign-wrapper">
        <div [appColorCompany]="deal?.company?.symbol" class="company-symbol">{{deal?.company?.symbol}}</div>
        <div class="deal-detail">
          <div class="company-name">{{deal?.company?.name}}</div>
          <div>Создана: {{deal?.task_date | dateFormat: 'date'}}</div>
        </div>
      </div>
      <div class="deal-info">
        <div class="valign-wrapper">
          <i class="tiny material-icons icon">location_on</i> {{deal?.address | address}}
        </div>
        <div class="valign-wrapper">
          <i class="tiny material-icons icon">access_time</i> {{deal?.address_comment}}
        </div>
        <div class="valign-wrapper">
          <i class="tiny material-icons icon">attach_money</i> {{deal?.sum | money}}
        </div>
        <div class="valign-wrapper">
          <i class="tiny material-icons icon">date_range</i> {{deal?.non_cash | nonCash}}
        </div>
      </div>
    </div>
    <div class="col s5">
      <div class="row contacts">
        <div class="col s12 valign-wrapper">
          <hr class="col s4">
          <div class="col s4 center-align header">Контакты</div>
          <hr class="col s4">
        </div>
      </div>
      <div class="row">
        <div *ngFor="let client of deal?.clients; let i = index" class="col s12">
          <div (click)="openClientInfo(i)" class="valign-wrapper contact-info forward-block col s12 hover-element">
            <div class="col s6 valign-wrapper detail-col-right">
              <i class="small material-icons icon">person</i>
              {{client.client.fio}}
            </div>
            <div class="col s5 div-number">{{client.client.phones[0].number | phoneFormat}}</div>
            <i class="arrow col s1 material-icons detail-col-left">chevron_right</i>
          </div>
          <hr class="col s12 black">
        </div>
      </div>
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col s5 divider"></div>
    <div class="col s2 center-align header">Замеры</div>
    <div class="col s5 divider"></div>
  </div>
  <div class="row">
    <div *ngFor="let measurement of deal?.measurements; let i = index"
         class="col s12 valign-wrapper forward-block hover-element no-border"
         routerLink="measurement/{{measurement?.id}}">
      <div *ngIf="i!==0">
        <div class="divider"></div>
      </div>
      <app-measurement-card [measurement]="measurement" class="col s11"></app-measurement-card>
      <i class="arrow col s1 material-icons right-align">chevron_right</i>
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col s5 divider"></div>
    <div class="col s2 center-align header">Монтажи</div>
    <div class="col s5 divider"></div>
  </div>
  <div class="row">
    <div *ngFor="let mount of deal?.mounts; let i = index"
         class="col s12 valign-wrapper forward-block hover-element no-border"
         routerLink="mount/{{mount?.id}}">
      <div *ngIf="i!==0">
        <div class="row">
          <div class="divider"></div>
        </div>
      </div>
      <app-mount-card [mount]="mount" class="col s11"></app-mount-card>
      <i class="arrow col s1 material-icons right-align">chevron_right</i>
    </div>
  </div>
  <div class="deal-action">
    <div class="row valign-wrapper">
      <div class="col s5 divider"></div>
      <div class="col s2 center-align header">Перерасчеты</div>
      <div class="col s5 divider"></div>
    </div>
    <div class="row">
      <div *ngFor="let discount of deal?.discounts" class="col s10 offset-s1">
        <p>{{discount.auto_date | dateFormat: 'fullDate'}} {{discount | discount}}</p>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s5 divider"></div>
      <div class="col s2 center-align header">Оплаты</div>
      <div class="col s5 divider"></div>
    </div>
    <div class="row">
      <div *ngFor="let payment of deal?.payments" class="col s10 offset-s1">
        <p>{{payment.auto_date | dateFormat: 'fullDate'}} {{payment | payment}}</p>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s5 divider"></div>
      <div class="col s2 center-align header">История</div>
      <div class="col s5 divider"></div>
    </div>
    <div class="col s12 offset-s1">История заказа:</div>
    <div class="row">
      <div *ngFor="let action of deal?.order_actions" class="col s10 offset-s1">
        <p>{{action.auto_date | dateFormat: 'fullDate'}} {{action | action: 'deal'}}</p>
      </div>
    </div>
    <div class="col s12 offset-s1">История сделки:</div>
    <div class="row">
      <div *ngFor="let action of deal?.actions" class="col s10 offset-s1">
        <p>{{action.auto_date | dateFormat: 'fullDate'}} {{action | action: 'deal'}}</p>
      </div>
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col s5 divider"></div>
    <div class="col s2 center-align header">Комментарии</div>
    <div class="col s5 divider"></div>
  </div>
  <div class="row">
    <div *ngFor="let comment of deal?.comments" class="col s12">
      <app-deal-comments [comment]="comment"></app-deal-comments>
    </div>
  </div>
  <app-deal-client-info [openClientInfo]="clientInfo" [client]="client"
                        (close)="closeClientInfo()"></app-deal-client-info>
</div>
<div *ngIf="deal" class="col s12 deal-comment-content valign-wrapper">
  <app-comment class="comment-content" (comment)="sendComment($event)"></app-comment>
</div>


