<div class="col s6 main-page">
  <div class="white-text offer">Объект {{deal?.offer}}</div>
  <div class="white content">
    <div class="deal-info">
      <div class="deal-status">{{deal?.company?.symbol}}</div>
      <div>
        <div class="company-name">{{deal?.company?.name}}</div>
        <div *ngFor="let client of deal?.clients">
          <p><i class="tiny material-icons icon">person</i> {{client.client.fio}}</p>
        </div>
        <div><i class="tiny material-icons icon">location_on</i> {{deal?.address | address}}</div>
        <div><i class="tiny material-icons icon">access_time</i> {{deal?.address_comment}}</div>
        <div><i class="tiny material-icons icon">attach_money</i> {{deal?.sum | money}}</div>
        <div><i class="tiny material-icons icon">date_range</i> {{deal?.non_cash | nonCash}}</div>
        <div><i class="tiny material-icons icon">date_range</i>
          Создана: {{deal?.auto_date | dateFormat: 'fullDate'}}
        </div>
        <div>Изменялась: {{deal?.task_date | dateFormat: 'fullDate'}}</div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="status-info">
    <div class="col s5 detail-col">
      <div class="contract-status"></div>
    </div>
    <div class="col s5 offset-s2 detail-col">
      <div class="contract-status">{{deal?.contract | contract }}</div>
    </div>
  </div>
</div>
<div class="col s6 detail-col">
  <nav>
    <div class="nav-wrapper col s12 detail-col">
      <ul class="hide-on-med-and-down">
        <li><a (click)="onSelect(0)">Этапы объекта</a></li>
        <li><a (click)="onSelect(1)">Комментарии</a></li>
        <li><a (click)="onSelect(2)">Перерасчеты</a></li>
        <li><a (click)="onSelect(3)">Оплата</a></li>
      </ul>
    </div>
  </nav>
  <div [ngSwitch]="select" class="col s12">
    <div *ngSwitchCase="0"><app-object-stages></app-object-stages></div>
    <div *ngSwitchCase="1"><app-deal-comments></app-deal-comments></div>
    <app-deal-discounts *ngSwitchCase="2"></app-deal-discounts>
    <app-deal-payments *ngSwitchCase="3"></app-deal-payments>
  </div>
</div>


