.row {
  margin-bottom: 0;
}

.icon {
  margin-right: 5px;
}

.deal-date {
  overflow: hidden;
}

.scrollable-page {
  border-left: solid 1px #c4c4c4;
  height: calc(100vh - 142px);
}

.header {
  font-size: 14px;
  color: black;
}

.avatar {
  height: 50px;
  width: 50px;
  float: left;
}

.date-icon {
  float: left;
  margin-top: 5px;
}

.offer {
  font-size: 24px;
  padding-left: 55px;
}

.main-info {
  padding-top: 30px;
}
.contact-divider {
  border-bottom: 1px solid black;
}
.company-name {
  overflow: hidden;
  font-size: 24px;
  line-height: 2.5rem;
  margin-left: 15px;
}

.deal-info {
  line-height: 2.5rem;
  padding-left: 20px;
}

.deal-action {
  font-size: 12px;
  line-height: 1.2rem;
  color: #9e9e9e;
}

.card {
  background-color: #f9f9f9;
}


.content {
  padding-left: 15px;
  line-height: 2rem;
}

.status-container {
  height: 80px;
}



.contract-status {
  height: 20px;
  border-radius: 10px;
}

.status-info {
  padding-top: 6vh;
}

.deal-stage-info {
  height: calc(100vh - 64px);
}

nav {
  box-shadow: none;
  height: 8vh;
}

ul li {
  line-height: 8vh;
}

ul li a {
  height: 8vh;
  font-size: 10px;
  text-align: center;
  line-height: 8vh;
  padding: 0;
}

.deal-comment-content {
  height: 80px;
  position: fixed;
  bottom: 0;
  background-color: #e8e8e8;
  border: 1px solid #c4c4c4;
}

textarea {
  margin-bottom: 0;
  border: 1px solid #c4c4c4;
  background: #ffffff;
  text-indent: 10px;
  min-height: 20px;
  margin-left: 20px;
  width: calc(100% - 32%);
  resize: none;
  overflow: auto;
}

textarea:focus {
  background: white;
  border: 1px solid grey!important;
  border-bottom: 1px solid grey!important;
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
  color: #333;
  outline: 0;
}
.input-field {

}
.send {
  margin-left: 20px;
}
