.dialog {
  height: 460px;
  width: 560px;
}

.main-dialog-content {
  overflow-y: auto;
  height: 340px;
}

@media (min-width: 768px) {
  .dialog {
    top: calc(50% - 230px);
  }
}

h4 {
  margin: 5px auto;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
}

.phone-number {
  margin-bottom: 0!important;
}

.button-phone-block {
  position: relative;
  height: 70px;
}

.remove-button {
  right: 0;
}

.text-comment-dialog {
  height: 50px;
}
