.image {
  height: 60px;
  width: 60px;
  float: left;
}
.comment-content {
  padding-top: 10px;
}
.comment-name {
  float: left;
}
.comment-date {
  overflow: hidden;
  padding-left: 7px;
  color: #8b8989;
}
