<div class="col s12">
  <img class="image" src="{{comment?.user.type | imageType}}"/>
  <div class="col s8">
    <div class="comment-content">
      <div class="comment-name">{{comment?.user.first_name}} {{comment?.user.last_name}}</div>
      <div  class="comment-date">{{comment?.auto_date | dateFormat: 'fullDate'}}</div>
    </div>
    <pre *ngIf="comment?.comment_type === 1">{{comment?.text}}</pre>
    <audio *ngIf="comment?.comment_type === 2" controls>
      <source src="{{comment?.file}}" type="audio/mp3">
    </audio>
    <!--<video *ngIf="comment?.comment_type === 2" controls="controls">-->
      <!--<source src="{{comment?.file}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>-->
    <!--</video>-->
  </div>
</div>

