.text-comment-dialog {
  height: 50px;
}

.date-container {
  display: inline-block;
}

.measurement-container {
  display: inline-block;
  cursor: pointer;
}

.calendar {
  width: 300px!important;
}

.center-dialog-title {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

.new-client-block {
  display: inline-block;
  margin: 20px 0;
}
