form {
 margin-top: 10px;
}

.text-comment-dialog {
  height: 50px;
}

.date-container {
  display: inline-block;
}

.measurement-container {
  display: inline-block;
  cursor: pointer;
}

.measurement-container:hover i.center-dialog-title {
  transform: scale(1.1, 1.1);
}

.new-client-block {
  display: inline-block;
  margin: 15px 0;
}

.new-client-block:hover i.center-dialog-title {
  transform: scale(1.1, 1.1);
}

.center-dialog-title {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

.btn-dialog-submit {
  right: 40px;
  bottom: 40px;
  height: 45px;
  width: 120px;
}

.btn-dialog-disabled {
  right: 40px;
  bottom: 40px;
  height: 45px;
  width: 120px;
}
