.side-nav-item{
 padding: 5px;
}
.navigation{
  height: calc(100vh - 64px);
  width: 100%;
  background-color: #dddddd;
}
.float-action-btn{
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.mask{
  position:fixed;
  background:rgba(0, 0, 0, 0.38);
  display:none;
  height:100%;
  width: 100%;
  z-index:10;
}
.mask_display{
  display: block;
}
