<div class="modal modal-fixed-footer" [ngClass]="{open: modalState.open}">
  <div class="modal-content">
    <h5>{{header}}</h5>
    <div class = "installers-list">
    <app-brigade-installer *ngFor="let position of brigade?.installers"
                           [installerPosition]="position" (onDel)="deleteInstaller($event)"></app-brigade-installer>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="close(false)">Отмена</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="ok()">ОК</a>
  </div>
</div>
