<div class="valign-wrapper col s12">
  <div class="image-content">
      <i class="small material-icons icon image {{statusColor(mount?.status)}}">{{statusIcon(mount?.status)}}</i>
  </div>
  <div class="content">
    <div class="mount-time valign-wrapper">
      <i class="tiny material-icons icon">access_time</i> {{mount?.date | mountDate}}
    </div>
    <div class="name valign-wrapper">
      <i class="tiny material-icons icon">error_outline</i> {{mount?.status | mountStatus}}
    </div>
  </div>
</div>
