.client{
 max-height: 350px;
 max-width: 300px;
}
.info{
  margin-top: 20px;
  margin-bottom: 10px;
}
.icon{
  padding: 5px;
}

.name {
  font-size: 22px;
  line-height: 1.2em;
  margin-bottom: 8px;
}

.image {
  width: 87px;
  height: 87px;
}


