<div class="card horizontal info-card client hover-element" appHover>
  <div class="icon center-align valign-wrapper"><img class="image" src="assets/images/client.png"/></div>
  <div class="card-stacked">
    <div class="info">
      <div class="name"> {{nameFormat(client?.fio)}} </div>
      <div class="phones" *ngFor="let phone of client?.phones">
        <div class="number"><i class="tiny material-icons icon">local_phone</i>{{phone.number}}</div>
        <div class="comment">{{phone.comment}}</div>
      </div>
    </div>
  </div>
</div>



