<div *ngIf="!stage" class="spinner-page">
  <app-preloader></app-preloader>
</div>
<p class="nothing-show" *ngIf="isNothingToShow">Ничего не найдено по данному запросу</p>
<div *ngIf="stage&&!isNothingToShow" class="mainDiv col s12 detail-col">
  <div class="col s12 row header-stage">
    <div class="col s11 date-stage">
      <i class="tiny  material-icons icon">date_range</i>
      {{stage.date | dateFormat: 'date'}}
    </div>
    <div class="col s1 date-stage">
      Стадия
    </div>
  </div>
  <div class="col s12 divider"></div>
  <div class="row col s12 stage-info valign-wrapper">
    <div class="image-content">
      <i class="small material-icons icon image {{statusColor(stage?.status)}}">{{statusIcon(stage?.status)}}</i>
    </div>
    <div id="status">
      {{stage.status | stageStatus}}
    </div>
  </div>
  <div class="row col s12 stage-info valign-wrapper" *ngIf="stage.description">
    <i class="tiny  material-icons icon">comment</i>
    {{stage.description}}
  </div>
  <div class="col s12 valign-wrapper detail-col">
    <div class="col s5 divider "></div>
    <div class="col s2 center-align">Монтажники</div>
    <div class="col s5 divider "></div>
  </div>
  <div *ngIf="stage?.installers.length===0" class="row">
    <div class="col s12 offset-s1 no-information">Нет монтажников</div>
  </div>
  <div class="row col s12 installer" *ngFor="let installer of stage.installers">
    <div>
      <i class="tiny  material-icons icon">person</i>{{installer.installer.fio}}
    </div>
    <div>
      <i class="tiny  material-icons icon">phone</i>{{installer.installer.phone}}
    </div>
  </div>
  <div class="col s12 valign-wrapper detail-col">
    <div class="col s5 divider "></div>
    <div class="col s2 center-align">Затраты</div>
    <div class="col s5 divider "></div>
  </div>
  <div *ngIf="stage?.costs.length===0" class="row">
    <div class="col s12 offset-s1 no-information">Нет затрат</div>
  </div>
  <div class="row col s12 valign-wrapper installer" *ngFor="let cost of stage.costs">
    <div>
      <span id="cost">{{cost.sum | money}} - {{cost.comment}}</span>
    </div>
  </div>
  <!--<div class="col s12 valign-wrapper detail-col">-->
  <!--<div class="col s5 divider "></div>-->
  <!--<div class="col s2 center-align">Комплектующие</div>-->
  <!--<div class="col s5 divider "></div>-->
  <!--</div>-->
  <div class="col s12 valign-wrapper detail-col">
    <div class="col s5 divider "></div>
    <div class="col s2 center-align">История</div>
    <div class="col s5 divider "></div>
  </div>
  <div class="col s10 offset-s1 action" *ngFor="let action of stage.actions">
    <div>{{action | action: 'stage'}}</div>
  </div>

  <div class="fixed-action-btn click-to-toggle" *ngIf="stage.status==0&&showEditButtons">
    <a class="btn-floating btn-large orange" id="main-btn">
      <i class="large material-icons color-fab-icon">menu</i>
    </a>
    <ul class="fab-ul">
      <li class="hover-element li-element-menu-fab"
          (click)="showAddInstaller = !showAddInstaller"
          onclick="$('#main-btn').click()">
        <div class="center-align valign-wrapper menu-li-div"><span class="fab-text">Добавить монтажника</span>
          <div class="icon-fab center-align valign-wrapper"><i class="material-icons color-fab-icon">person</i></div>
        </div>
      </li>
      <li class="hover-element li-element-menu-fab"
          (click)="showAddCost = !showAddCost"
          onclick="$('#main-btn').click()">
        <div class="center-align valign-wrapper menu-li-div"><span class="fab-text">Добавить затраты</span>
          <div class="icon-fab center-align valign-wrapper"><i class="material-icons color-fab-icon">money</i></div>
        </div>
      </li>
      <!--<li class="hover-element li-element-menu-fab">-->
      <!--<div class="center-align valign-wrapper menu-li-div"><span class="fab-text">Добавить комплектующие</span>-->
      <!--<div class="icon-fab center-align valign-wrapper"><i class="material-icons color-fab-icon">add</i></div>-->
      <!--</div>-->
      <!--</li>-->
      <li class="hover-element li-element-menu-fab"
          (click)="showTransferStage = !showTransferStage"
          onclick="$('#main-btn').click()">
        <div class="center-align valign-wrapper menu-li-div"><span class="fab-text">Перенести стадию</span>
          <div class="icon-fab center-align valign-wrapper"><i class="material-icons color-fab-icon">event</i></div>
        </div>
      </li>
      <li class="hover-element li-element-menu-fab"
          (click)="showCompleteStage = !showCompleteStage"
          onclick="$('#main-btn').click()">
        <div class="center-align valign-wrapper menu-li-div"><span class="fab-text">Завершить стадию</span>
          <div class="icon-fab center-align valign-wrapper"><i class="material-icons color-fab-icon">check</i></div>
        </div>
      </li>
    </ul>
  </div>
</div>
<app-stage-dialog-complete [stage]="stage" (successStageComplete)="successStageUpdate()"
                           [(visible)]="showCompleteStage"></app-stage-dialog-complete>
<app-dialog-stage-cost [stage]="stage" (successCost)="successStageCost($event)"
                       [(visible)]="showAddCost"></app-dialog-stage-cost>
<app-stage-dialog-transfer [stage]="stage" (successStageTransfer)="successStageUpdate()"
                           [(visible)]="showTransferStage"></app-stage-dialog-transfer>
