<div *ngIf="visible" class="dialog">
  <i *ngIf="closable" class="material-icons hover-element dialog-close-btn"
     (click)="onClose()">close
  </i>
  <h4>Добавить клиента</h4>
  <div class="row main-row">
    <form id="form" class="form" #form="ngForm" (ngSubmit)="submitForm()">
      <div class="main-dialog-content">
        <div class="row main-row valign-wrapper">
          <div class="col s10">
            <div class="col s12">
              <label for="client"
                     data-error="wrong"
                     data-success="right"
                     class="required-area-dialog">ФИО
              </label>
              <input id="client"
                     type="text"
                     class="validate"
                     ngModel
                     name="clientName"
                     required>
            </div>
          </div>
          <div class="col s2 button-phone-block">
            <button class="btn-dialog-submit" type="submit"
                    (click)="addPhone()"
                    [class.btn-dialog-submit]="successPhones"
                    [disabled]="!successPhones"
                    [class.btn-dialog-disabled]="!successPhones">
              Добавить телефон
            </button>
          </div>
        </div>
        <div class="row main-row">
          <div class="col s10">
            <div class="col s12">
              <label data-error="wrong" data-success="right">Email</label>
              <input type="email"
                     class="validate"
                     ngModel
                     name="email"
                     #email="ngModel">
            </div>
          </div>
        </div>
        <div *ngFor="let phone of phones; let i = index" class="valign-wrapper">
          <div class="col s12">
            <div class="regular-client-container"
                 *ngIf="visibleRegularClient&&regularClientNumber===i"
                 (click)="addRegularClient()">
              <div>ФИО: {{regularClient.fio}}</div>
              <div>Email: {{regularClient.email | email}}
              </div>
              <div *ngFor="let regClientPhone of regularClient.phones; let i = index">
                <div>{{i + 1}} телефон: {{regClientPhone.number | phoneFormat}}</div>
              </div>
            </div>
            <div class="row main-row valign-wrapper">
              <div class="col s10 detail-col valign-wrapper">
                <div class="col s12">
                  <label class="required-area-dialog">Номер телефона</label>
                  <input type="text"
                         [ngClass]="{invalid: visibleRegularClient&&regularClientNumber===i}"
                         class="validate"
                         [textMask]="{mask: mask}"
                         [value]="phone.number"
                         (input)="phoneNumber(i, $event.target.value)">
                </div>
              </div>
              <div class="col s2 button-phone-block">
                <button *ngIf="phones.length>1"
                        class="btn-dialog-cancel remove-button"
                        (click)="removePhone(i)">Удалить
                </button>
              </div>
            </div>
            <div class="row main-row">
              <div class="col s10 detail-col valign-wrapper">
                <div class="col s12">
                  <label>Комментарий к телефону</label>
                  <textarea type="text"
                            [value]="phone.comment"
                            (input)="phoneComment(i, $event.target.value)"
                            name="comment"
                            class="text-comment-dialog">
                </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-container">
        <span class="description-required-dialog">
          <span [ngStyle]="{'color':'red'}">*</span> помечены обязательные поля</span>
        <button class="btn-dialog-cancel" (click)="onClose()">Отмена</button>
        <button class="btn-dialog-submit" type="submit"
                [class.btn-dialog-submit]="form.valid"
                [disabled]="(!form.valid||!successPhones)"
                [class.btn-dialog-disabled]="(!form.valid||!successPhones)">OK
        </button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="visible" class="overlay-dialog" (click)="onClose()"></div>
