<div routerLink="{{deal?.id}}" routerLinkActive="active-card"
     class="card horizontal order hover-element no-border hoverable">
  <div class="center-align valign-wrapper">
    <div class="status-image info">
      <div [appColorCompany]="deal?.company.symbol" class="image">
        {{deal?.company.symbol}}
      </div>
    </div>
  </div>
  <div class="card-stacked">
    <div class="info">
      <div class="col s12 detail-col">
        <div class="col s6 detail-col company">{{deal?.company?.name | companyName}}</div>
        <div class="col s6 detail-col right-align time valign-wrapper">
          <div style="display: inline-block">
            <i class="tiny material-icons icon card-date-icon">date_range</i>
            <span class="card-date">{{deal?.auto_change_date | dateFormat: 'date'}}</span>
          </div>
        </div>
      </div>
      <div class="main-info-card">
        <div class="address">{{deal.address | address}}</div>
        <div class="deal-status">{{statusDeal(deal?.status)}}</div>
      </div>
    </div>
  </div>
</div>
