<div routerLink="{{mount?.id}}" routerLinkActive="active-card"
     class="card horizontal order hover-element no-border hoverable">
  <div class="center-align valign-wrapper">
    <div class="status-image info">
      <i class="image small material-icons icon {{statusColor(mount?.status)}}">
        {{statusIcon(mount?.status)}}
      </i>
    </div>
  </div>
  <div class="card-stacked">
    <div class="info">
      <div class="col s12 detail-col">
        <div class="col s7 detail-col company">{{mount?.company?.name | companyName}}</div>
        <div class="col s5 detail-col right-align time valign-wrapper">
          <i class="tiny material-icons icon card-date-icon">date_range</i>
          <div class="card-date">{{mount?.date | dateFormat: 'date'}}</div>
        </div>
      </div>
      <div class="main-info-card">
        <div class="address">Сделка {{mount?.deal}}</div>
        <div>{{mount?.status | mountStatus}}</div>
      </div>
    </div>
  </div>
</div>
