h4 {
  margin: 5px auto;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
}

.dialog {
  height: 450px;
  width: 500px;
}

@media (min-width: 768px) {
  .dialog {
    top: calc(50% - 225px);
  }
}
