<div *ngIf="visible" class="dialog">
  <div class="content-dialog">
    <i *ngIf="closable" class="material-icons hover-element dialog-close-btn" (click)="close()">close</i>
    <h4>Добавить перерасчет</h4>
    <form (ngSubmit)="submitForm()" #form="ngForm">
        <label class="required-area-dialog">Сумма после перерасчета</label>
        <input type="text" pattern="^[ 0-9]+$"
               ngModel
               name="after"
               class="text-comment-dialog"
               required />
      <div>
        <label class="required-area-dialog">Комментарий</label>
        <textarea type="text"
                  ngModel
                  name="comment"
                  class="text-comment-dialog"
                  required></textarea>
      </div>
      <button class="btn-dialog-submit" type="submit"
              [class.btn-dialog-submit]="form.valid"
              [disabled]="(!form.valid||isRequest)"
              [class.btn-dialog-disabled]="(!form.valid||isRequest)">OK
      </button>
    </form>
    <button class="btn-dialog-cancel" (click)="close()">Отмена</button>
    <span class="description-required-dialog"><span
      [ngStyle]="{'color':'red'}">*</span> помечены обязательные поля</span>
    <app-preloader *ngIf="isRequest"></app-preloader>
  </div>
</div>
<div *ngIf="visible" class="overlay-dialog" (click)="close()"></div>
