<div class="mask" [ngClass]="{mask_display: modalIsOpen}"></div>
<div class="row main-row">


  <div class="col s3 l2 navigation">
    <div routerLink="installers" routerLinkActive="active" appHover="hovered" class="side-nav-item">Монтажники</div>
    <div routerLink="brigades" routerLinkActive="active"  appHover="hovered" class="side-nav-item">Бригады</div>
    <div routerLink="companies" routerLinkActive="active" appHover="hovered" class="side-nav-item">Компании</div>
  </div>

  <div class="col s9">
    <router-outlet (activate)='onActivate($event)'
                   (deactivate)='onDeactivate($event)'></router-outlet>
  </div>

</div>

