/*Принятый заказ*/
.acceptedOrder {
  background-color: green;
}
/*Отклоненный заказ*/
.renouncementOrder {
  background-color: red;
}
/*Необработанный заказ*/
.untreatedOrder {
  background-color: orange;
}
/*Отложенный*/
.deferredOrder {
  background-color: #bdbdbd;
}

.others {
  background-color: white;
}

