<div class="card horizontal order hover-element hoverable no-border" routerLinkActive="active-card" routerLink="{{order.id}}">
  <div class="center-align valign-wrapper">
    <div class="icon status-image">
      <i class="small material-icons icon image {{statusColor(order?.status)}}">{{statusIcon(order?.status)}}</i>
    </div>
  </div>
  <div class="card-stacked">
    <div class="info">
      <div class="col s12 detail-col">
        <div class="company col s7 detail-col">{{order.company?.name | companyName}}</div>
        <div class="right-align col s5 time"><i class="tiny material-icons icon">access_time</i> {{order?.auto_date | dateFormat: 'time'}}</div>
      </div>
      <div class="main-info-card">
        <div>{{order?.fio| clientName}}</div>
        <div><i class="tiny material-icons icon">local_phone</i> {{order?.phone | phoneFormat}}</div>
      </div>
    </div>
  </div>
</div>

