<div class="col s12 card horizontal order hover-element hoverable no-border" routerLinkActive="active-card" routerLink="{{order.id}}">
  <div class="center-align valign-wrapper">
    <div class="icon status-image">
      <i class="small material-icons icon image {{statusColor(order?.status)}}">{{statusIcon(order?.status)}}</i>
    </div>
  </div>
  <div class=" card-stacked col s9 detail-col text">
    <div class="info">
      <div class="col s12 detail-col">
        <div class="company col s6 detail-col">{{order.company?.name | companyName}}</div>
        <div class="col s6 detail-col right-align time valign-wrapper">
          <div style="display: inline-block">
            <i class="tiny material-icons icon card-date-icon" style="margin-right: 3px">date_range</i>
            <span class="card-date">{{order?.task_date | dateFormat: 'date'}}</span>
          </div>
        </div>
      </div>
      <div class="main-info-card">
        <div>{{order?.fio| clientName}}</div>
        <div><i class="tiny material-icons icon">local_phone</i> {{order?.phone | phoneFormat}}</div>
      </div>
    </div>
  </div>
</div>

