<div class="row main-row">
  <div class="col s3 list-col"
       infinite-scroll
       [infiniteScrollDistance]="1"
       [infiniteScrollThrottle]="300"
       [scrollWindow]="false"
       (scrolled)="onScrollDeal()">
    <app-deal *ngFor="let deal of dealPage"
               [deal]="deal" [lastPage]='this' (click)="active(deal)">
    </app-deal>
  </div>
  <div class="col s9 detail-col">
    <div class="detail">
      <app-deal-detail [deal]="activeDeal" [lastPage]='this'></app-deal-detail>
    </div>
  </div>
</div>

