.time{
  position: absolute;
  right: 5px;
  top: 5px;
}
.info{
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.icon{
  color: #777777;
}
.order{
}
.hovered{
  background-color: #dddddd;
}
.active{
  background-color: #cccccc;
}

