<div class="container auth-container">
  <div class="row">
    <form class="col s4 offset-s4" name="form" (ngSubmit)="login()">

      <div class="row">
        <div class="input-field col s12">
          <input [(ngModel)]="username" name="user" id="login" type="text" class="validate" >
          <label for="login">Login</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input [(ngModel)]="password" name="password" id="password" type="password" class="validate" >
          <label for="password">Password</label>
        </div>
      </div>

      <button class="btn waves-effect waves-light">Login
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
