<div class="row main-row">
  <div class="col s3 list-col"
       infinite-scroll
       [infiniteScrollDistance]="1"
       [infiniteScrollThrottle]="300"
       [scrollWindow]="false"
       (scrolled)="onScroll()">
    <app-order *ngFor="let order of orders"
               [order]="order" [orderPage]='this' (click)="active(order)">
    </app-order>
  </div>
  <div class="col s9 detail-col">
    <div class="detail">
      <app-order-detail [order]="activeOrder" [orderPage]='this'></app-order-detail>
    </div>
  </div>
</div>

