<div class="row main-row main-page">
  <div id="scroll" class="order col s3 list-col"
       infinite-scroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="300"
       [scrollWindow]="false"
       (scrolled)="onScroll()">
    <app-input-search [statusName]="status?.statusName"
                      (out)="term$.next($event)"
                      (outDate)="termDate$.next($event)"></app-input-search>
    <app-order *ngFor="let order of orders"
               [order]="order">
    </app-order>
    <div [class.spinner-contener]="orders.length===0" *ngIf="!lastPage" class="col s10">
      <app-preloader></app-preloader>
    </div>
  </div>
  <div class="detail-col col s9">
    <div class="detail">
      <router-outlet (activate)='onActivate($event)'
                     (deactivate)='onDeactivate($event)'></router-outlet>
    </div>
  </div>
</div>

