.header{
  background-color: #5c6b96;
}

.logo {
  height: 9vh;
  float: left;
}

.avatar {
  height: 9vh;
}

.image {
  height: 9px;
}

ul {
  margin-right: 60px;
  height: 9vh;
}

ul li {
  line-height: 9vh;
}

ul li a {
  font-size: 1.1rem;
}

.navbar-fixed {
  height: 9vh;
}

nav {
  height: 9vh;
}


