<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper header">
      <a href="#!" class="brand-logo"><img src="/logo.png"></a>
      <a class="right" routerLink="/user"><i class="material-icons">person</i></a>
      <ul class="right hide-on-med-and-down">
        <li routerLinkActive="active"><a routerLink="/orders">Заявки</a></li>
        <li routerLinkActive="active"><a routerLink="/deals/processing">В обработке</a></li>
        <li routerLinkActive="active"><a routerLink="/deals/measurements">Замеры</a></li>
        <li routerLinkActive="active"><a routerLink="/deals/not_concluded">Не заключенные</a></li>
        <li routerLinkActive="active"><a routerLink="/deals/mount">Монтажи</a></li>
        <li routerLinkActive="active"><a routerLink="/deals/completed">Завершенные</a></li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
