<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper header">
      <a href="#!" class="brand-logo">NatcomCRM</a>
      <a class="right " href="sass.html"><i class="material-icons">person</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/orders">Заявки</a></li>
        <li><a routerLink="/deals">В обработке</a></li>
        <li><a href="collapsible.html">Замеры</a></li>
        <li><a href="mobile.html">Не заключенные</a></li>
        <li><a href="mobile.html">Монтажи</a></li>
        <li><a href="mobile.html">Завершенные</a></li>
      </ul>
    </div>
  </nav>
</div>
<script>
  $(".button-collapse").sideNav();
</script>

<router-outlet></router-outlet>

