<div *ngIf="loadPage" class="spinner-page">
  <app-preloader></app-preloader>
</div>
<div *ngIf="!loadPage" class="mainDiv col s12 detail-col scrollable-page" id="page">
  <div class="col s12 detail-col valign-wrapper left-align">
    <div *ngIf="backRouter" routerLink="{{backRouter}}"
         class="col s2 row-back valign-wrapper hover-element no-border">
      <i class="small material-icons no-border icon-arrow-back">
        keyboard_arrow_left
      </i>
      <span class="back icon-arrow-back">Назад к сделке</span>
    </div>
    <div class="col s4 valign-wrapper">
      <img class="avatar" src="{{mount?.user?.type | imageType}}">
      <div>{{mount?.user?.first_name}} {{mount?.user?.last_name}}</div>
    </div>

    <div class="col s8">{{mount?.status | mountStatus}}</div>
    <div class="col s1 namePage">Монтаж</div>
  </div>
  <div class="col s12 divider detail-col"></div>
  <div class="col s12 valign-wrapper">
    <div class="status-container valign-wrapper main-info">
      <div [appColorCompany]="mount?.company?.symbol" class="company-symbol">{{mount?.company?.symbol}}</div>
      <div class="company-name">{{mount?.company?.name}}</div>
    </div>
    <div *ngIf="showToDealButton"
         class=" col s2 valign-wrapper no-border"
         routerLink="deal/{{dealId}}">
      <div class="btn-go-deal valign-wrapper no-border">
        К сделке<i class="normal  material-icons  deal-icon">reply</i>
      </div>
    </div>
  </div>
  <div class="mount-info">
    <div class="col s12 str-info">
      <i
        class="tiny  material-icons  icon">date_range</i>
      <span *ngIf="mount.date">  {{mount?.date | dateFormat: 'date'}}</span>
      <span *ngIf="!mount.date">По звонку</span>
    </div>
    <div class="col s12 str-info">
      <i class="tiny  material-icons icon">assignment</i><span> Номер договора:  {{dealId | dealContractView}}</span>
    </div>
    <div class="col s12 str-info" *ngIf="mount.description">
      <i
        class="tiny  material-icons  icon">comment</i>
      <span> {{mount?.description}}</span>
    </div>
  </div>
  <div class="col s12 valign-wrapper detail-col">
    <div class="col s5 divider"></div>
    <div class="col s2 center-align header">
      <div class="valign-wrapper" style="display: inline-block">
        <span class="center-dialog-title">Монтажники</span>
        <i *ngIf="!(mount.status==2 || mount.status==3)&&showEditButtons"
           class="material-icons hover-element center-dialog-title">add_circle_outline</i>
      </div>
    </div>
    <div class="col s5 divider"></div>
  </div>
  <div *ngIf="mount?.installers.length===0" class="row">
    <div class="col s12 offset-s1 no-information">Нет монтажников</div>
  </div>
  <div class="col s12 installer" *ngFor="let installer of mount.installers">
    <div>
      <i class="tiny  material-icons icon">person</i>{{installer.installer.fio}}
    </div>
    <div>
      <i class="tiny  material-icons icon">phone</i>{{installer.installer.phone}}
    </div>
  </div>
  <div class="col s12 valign-wrapper detail-col">
    <div class="col s5 divider"></div>
    <div class="col s2 center-align header">
      <div class="valign-wrapper" style="display: inline-block">
        <span class="center-dialog-title">Затраты</span>
        <i *ngIf="!(mount.status==2 || mount.status==3)&&showEditButtons"
           (click)="showAddCost = !showAddCost"
           class="material-icons hover-element center-dialog-title">add_circle_outline</i>
      </div>
    </div>
    <div class="col s5 divider"></div>
  </div>
  <div *ngIf="mount?.costs.length===0" class="row">
    <div class="col s12 offset-s1 no-information">Нет затрат</div>
  </div>
  <div class="row col s12 valign-wrapper installer" *ngFor="let cost of mount.costs">
    <div>
      <span id="cost_component">{{cost.sum | money}} - {{cost.comment}}</span>
    </div>
  </div>
  <div class="col s12 valign-wrapper detail-col">
    <div class="col s5 divider"></div>
    <div class="col s2 center-align header">
      <div class="valign-wrapper" style="display: inline-block">
        <span class="center-dialog-title">Затраты на комплектующие</span>
        <i *ngIf="!(mount.status==2 || mount.status==3)&&showEditButtons"
           (click)="showAddCostComponent = !showAddCostComponent"
           class="material-icons hover-element center-dialog-title">add_circle_outline</i>
      </div>
    </div>
    <div class="col s5 divider"></div>
  </div>
  <div *ngIf="mount?.component_costs.length===0" class="row">
    <div class="col s12 offset-s1 no-information">Нет затрат</div>
  </div>
  <div class="row col s12 valign-wrapper installer" *ngFor="let cost of mount.component_costs">
    <div>
      <span id="cost">{{cost.sum | money}}</span>
      <span *ngIf="cost.comment">- {{cost.comment}}</span>
    </div>
  </div>
  <div class="col s12 row valign-wrapper detail-col">
    <div class="col s5 divider "></div>
    <div class="col s2 center-align">История</div>
    <div class="col s5 divider "></div>
  </div>
  <div *ngIf="mount?.actions.length===0" class="row">
    <div class="col s12 offset-s1 no-information">Нет истории</div>
  </div>
  <div *ngFor="let action of mount?.actions" class="col s10 offset-s1 action">
    <div class="text">{{action.auto_date | dateFormat: 'fullDate'}} {{action | action: 'mount'}}</div>
  </div>
  <div class="col s12 row valign-wrapper detail-col">
    <div class="col s5 divider"></div>
    <div class="col s2 center-align header">Комментарии</div>
    <div class="col s5 divider"></div>
  </div>
  <div *ngIf="mount?.comments.length===0" class="row">
    <div class="col s12 offset-s1 no-information">Нет комментариев</div>
  </div>
  <div class="row">
    <div *ngFor="let comment of mount?.comments" class="col s12">
      <app-deal-comments [comment]="comment"></app-deal-comments>
    </div>
  </div>

  <div class="fixed-action-btn click-to-toggle"
       *ngIf="!(mount.status==2 || mount.status==3)&&showEditButtons">
    <a class="btn-floating btn-large orange" id="main-btn">
      <i class="large material-icons color-fab-icon">menu</i>
    </a>
    <ul class="fab-ul">
      <li class="hover-element li-element-menu-fab" (click)="showRejectMount = !showRejectMount"
          onclick="$('#main-btn').click()">
        <div class="center-align valign-wrapper menu-li-div"><span class="fab-text">Отклонить монтаж</span>
          <div class="icon-fab center-align valign-wrapper"><i class="material-icons color-fab-icon">close</i></div>
        </div>
      </li>

      <li *ngIf="!mount.date" class="hover-element li-element-menu-fab" (click)="showSetDateMount = !showSetDateMount"
          onclick="$('#main-btn').click()">
        <div class="center-align valign-wrapper menu-li-div"><span class="fab-text">Установить дату монтажа</span>
          <div class="icon-fab center-align valign-wrapper"><i class="material-icons color-fab-icon">event</i></div>
        </div>
      </li>
      <li *ngIf="mount.date" class="hover-element li-element-menu-fab" (click)="showTransferMount = !showTransferMount"
          onclick="$('#main-btn').click()">
        <div class="center-align valign-wrapper menu-li-div"><span class="fab-text">Перенести монтаж</span>
          <div class="icon-fab center-align valign-wrapper"><i class="material-icons color-fab-icon">event</i></div>
        </div>
      </li>
      <li class="hover-element li-element-menu-fab" (click)="showCompleteMount = !showCompleteMount"
          onclick="$('#main-btn').click()">
        <div class="center-align valign-wrapper menu-li-div"><span class="fab-text">Завершить монтаж</span>
          <div class="icon-fab center-align valign-wrapper"><i class="material-icons color-fab-icon">check</i></div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="!loadPage" class="col s12 mount-comment-content valign-wrapper">
  <app-comment class="comment-content" (comment)="sendComment($event)"></app-comment>
</div>
<app-mount-dialog-reject [mount]="mount" (successMountReject)="successMountUpdateAndList()"
                         [(visible)]="showRejectMount"></app-mount-dialog-reject>
<app-mount-dialog-complete [mount]="mount" (successMountComplete)="successMountUpdateAndList()"
                           [(visible)]="showCompleteMount"></app-mount-dialog-complete>
<app-mount-dialog-set-date [mount]="mount" (successMountSetDate)="successMountUpdate()"
                           [(visible)]="showSetDateMount"></app-mount-dialog-set-date>
<app-mount-dialog-transfer [mount]="mount" (successMountTransfer)="successMountUpdate()"
                           [(visible)]="showTransferMount"></app-mount-dialog-transfer>
<!--<app-add-installer [modalState]="addInstallerModalState" (onClose)="closeAddInstallerModal($event)"></app-add-installer>-->
<app-dialog-cost [mount]="mount" (successCost)="successMountUpdate()"
                 [(visible)]="showAddCost"></app-dialog-cost>

<app-dialog-component-cost [mount]="mount" (successCost)="successMountUpdate()"
[(visible)]="showAddCostComponent"></app-dialog-component-cost>

