<div *ngIf="visible" class="dialog">
  <div class="content-dialog">
    <i *ngIf="closable" class="material-icons hover-element dialog-close-btn" (click)="close()">close</i>
    <h4>Добавить замер</h4>
    <form (ngSubmit)="submitForm()" #form="ngForm">
      <label>Способ оплаты</label>
      <select class="browser-default"
              ngModel
              name="payment">
        <option value="1">Безналичная оплата</option>
        <option value="2">Наличная оплата</option>
        <option value="3">Терминал</option>
      </select>
      <p><label class="required-area-dialog">Дата замера</label>
        <input type="date"
               class="browser-default"
               ngModel
               name="date"
               required>
      </p>
      <div>
        <label>Комментарий по времени</label>
        <textarea type="text"
                  ngModel
                  name="time"
                  class="text-comment-dialog">
        </textarea>
      </div>
      <div>
        <label>Дополнительная информация о замере</label>
        <textarea type="text"
                  ngModel
                  name="description"
                  class="text-comment-dialog"></textarea>
      </div>
      <button class="btn-dialog-submit" type="submit"
              [class.btn-dialog-submit]="form.valid"
              [disabled]="(!form.valid||isRequest)"
              [class.btn-dialog-disabled]="(!form.valid||isRequest)">OK
      </button>
    </form>
    <button class="btn-dialog-cancel" (click)="close()">Отмена</button>
    <span class="description-required-dialog"><span
      [ngStyle]="{'color':'red'}">*</span> помечены обязательные поля</span>
    <app-preloader *ngIf="isRequest"></app-preloader>
  </div>
</div>
<div *ngIf="visible" class="overlay-dialog" (click)="close()"></div>
