<div class="col s12">
<div id="modal1" class="modal modal-fixed-footer" [ngClass]="{open: openClientInfo}">
  <div class="modal-content">
    <div class="col s12 right-align detail-col-right">
      <i (click)="onClose()" class="small material-icons hover-element">close</i>
    </div>
    <div class="client-info-content">
      <div class="client-name">{{client?.client.fio}}</div>
      <div>{{client?.client.email}}</div>
      <hr>
      <div *ngFor="let phone of client?.client.phones">
        <div>{{phone.number}}</div>
        <div>{{phone.comment}}</div>
        <hr>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a>Подробнее</a>
  </div>
</div>
</div>
