.dialog {
  height: 300px;
  width: 520px;
}

@media (min-width: 768px) {
  .dialog {
    top: calc(50% - 150px);
  }
}

h4 {
  margin: 5px auto;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
}

.main-dialog-content {
  margin-top: 10px;
  overflow-y: auto;
  height: 170px;
  padding-left: 10px;
}

.icon {
  margin-right: 5px;
}

.phones-container {
  padding: 0 10px;
  width: 500px;
}

.phone-info {
  margin-top: 10px;
}

.btn-dialog-ok {
  height: 30px;
  width: 80px;
  right: 20px;
  bottom: 10px;
}

.btn-dialog-more-info {
  height: 30px;
  width: 120px;
  right: 120px;
  bottom: 10px;
}

.btn-dialog-submit {
  bottom: 10px;
  right: 260px;
  height: 30px;
  width: 120px;
}

.client-btn {
  border-radius: 5px;
  border: 0;
  background-color: #5c6b96;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4);
  color: white;
  position: absolute;
}

.btn-dialog-more-info:hover {
  box-shadow: inset 0 0 10px rgba(52, 52, 52, 0.4), 0 0 10px rgba(0, 0, 0, .1);
}

.btn-dialog-more-info:focus {
  background-color: #5c6b96;
}
