.input-field {
  position: fixed;
  left: 0!important;
  top: 50px;
  z-index: 1;
  height: 50px;
}

input[type="search"] {
  margin-bottom: 0;
  border: 2px solid #ffe0b2;
  border-radius: 15px;
  background: #f1f8e9;
  text-indent: 10px;
  height: 30px;
  margin-top: 10px;
}

input[type="search"]:focus {
  background: white;
  border: 2px solid grey;
  color: #333;
  outline: 0;
}

.list-col {
  margin-top: 50px;
  height: calc(100vh - 114px);
}
