<div *ngIf="visible" class="dialog">
  <div class="content-dialog">
    <i *ngIf="closable" class="material-icons hover-element dialog-close-btn" (click)="close()">close</i>
    <h4>Редактировать затраты</h4>
    <form (ngSubmit)="submitForm()" #form="ngForm">
      <div>
        <label class="required-area-dialog">Тип</label>
        <select class="browser-default"
                name="destination"
                [ngModel]="cost.destination"
                #destination="ngModel"
                required>
          <option value="1">Бензин</option>
          <option value="2">Заработная плата</option>
          <option value="3">Другое</option>
        </select>
      </div>
      <div>
        <label class="required-area-dialog">Сумма</label>
        <input type="number"
               [ngModel]="cost.sum"
               name="sum"
               class="text-comment-dialog"
               required/>
      </div>
      <div>
        <label>Комментарий</label>
        <textarea type="text"
                  [ngModel]="cost.comment"
                  name="comment"
                  class="text-comment-dialog"></textarea>
      </div>
      <button class="btn-dialog-submit" type="submit"
              [class.btn-dialog-submit]="form.valid"
              [disabled]="(!form.valid||isRequest)"
              [class.btn-dialog-disabled]="(!form.valid||isRequest)">OK
      </button>
    </form>
    <button class="btn-dialog-cancel" (click)="close()">Отмена</button>
    <span class="description-required-dialog"><span
      [ngStyle]="{'color':'red'}">*</span> помечены обязательные поля</span>
    <app-preloader *ngIf="isRequest"></app-preloader>
  </div>
</div>
<div *ngIf="visible" class="overlay-dialog" (click)="close()"></div>
