<div *ngIf="loadPage" class="spinner-page">
  <app-preloader></app-preloader>
</div>
<div *ngIf="!loadPage" class="col s12 detail-col scrollable-page" id="page">
  <div class="row main-row valign-wrapper">
    <div class="col s8 valign-wrapper">
      <div *ngIf="backUrl" routerLink="{{backUrl}}"
           class="row-back valign-wrapper hover-element no-border">
        <i class="small material-icons no-border icon-arrow-back">
          keyboard_arrow_left
        </i>
        <span class="back icon-arrow-back">Назад к сделке</span>
      </div>
      <img class="avatar" src="assets/images/worker.png"/>
      <div [style.color]="measurement?.worker ? 'green': 'red'">
        {{measurement?.worker | workerName}}
      </div>
    </div>
    <div class="col s4 valign-wrapper">
      <div>{{measurement?.status | measurementStatus}}</div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row main-info">
    <div class="col s7">
      <div class="measurement">Замер</div>
      <div class="status-container valign-wrapper">
        <div [appColorCompany]="measurement?.company?.symbol" class="company-symbol">
          {{measurement?.company?.symbol}}
        </div>
        <div class="company-name">{{measurement?.company?.name}}</div>
      </div>
      <div class="measurement-info">
        <div class="valign-wrapper">
          <i class="tiny material-icons icon">date_range</i>
          <span class="measurement-date">{{measurement?.date | dateFormat: 'date'}}</span>
        </div>
        <div class="valign-wrapper">
          <i class="tiny material-icons icon">location_on</i> {{measurement?.address | address}}
        </div>
        <div class="valign-wrapper" *ngIf="measurement.address_comment">
          <i class="tiny material-icons icon">announcement</i> {{measurement?.address_comment}}
        </div>
        <div class="valign-wrapper" *ngIf="measurement.time">
          <i class="tiny material-icons icon">access_time</i> {{measurement?.time}}
        </div>
        <div class="valign-wrapper">
          <i class="tiny material-icons icon">attach_money</i> {{measurement?.sum | money}}
        </div>
        <div class="valign-wrapper">
          <i class="tiny material-icons icon">date_range</i> {{measurement?.non_cash | nonCash}}
        </div>
        <div class="valign-wrapper" *ngIf="measurement.description">
          <i class="tiny material-icons icon">comment</i> {{measurement.description}}
        </div>
      </div>
    </div>
    <div class="col s5">
      <div *ngIf="showToDealButton" class="row">
        <div class="valign-wrapper no-border btn-go-deal-container"
             routerLink="deal/{{measurement?.deal.toString()}}">
          <div class="btn-go-deal valign-wrapper no-border">
            К сделке<i class="normal  material-icons  deal-icon">reply</i>
          </div>
        </div>
      </div>
      <div class="row main-row">
        <div class="col s12 valign-wrapper">
          <hr class="col s4">
          <div class="col s4 center-align header">Контакты</div>
          <hr class="col s4">
        </div>
      </div>
      <div class="row">
        <div *ngFor="let client of measurement?.clients; let i = index" class="col s12">
          <div class="valign-wrapper contact-info forward-block col s12">
            <div class="col s6 valign-wrapper detail-col-right">
              <i class="small material-icons icon">person</i>
              {{client.client.fio}}
            </div>
            <div class="col s5 div-number">{{client.client.phones[0].number | phoneFormat}}</div>
            <i class="arrow col s1 material-icons detail-col-left">chevron_right</i>
          </div>
          <hr class="col s12 black">
        </div>
      </div>
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col s5 divider"></div>
    <div class="col s2 center-align header">История</div>
    <div class="col s5 divider"></div>
  </div>
  <div class="history">
    <div class="col s12 offset-s1">История замера:</div>
    <div class="row">
      <div *ngFor="let action of measurement?.actions" class="col s10 offset-s1">
        <div>{{action.auto_date | dateFormat: 'fullDate'}} {{action | action: 'measurement'}}</div>
      </div>
    </div>
    <div class="col s12 offset-s1">Переносы замера:</div>
    <div class="row">
      <div *ngFor="let transfer of measurement?.transfers" class="col s10 offset-s1">
        <div>{{transfer.auto_date | dateFormat: 'fullDate'}} {{transfer | transfer: 'measurement'}}</div>
      </div>
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col s5 divider"></div>
    <div class="col s2 center-align header">Изображения</div>
    <div class="col s5 divider"></div>
  </div>
  <div *ngIf="measurement?.pictures.length===0" class="row">
    <div class="col s12 offset-s1 no-information">Нет изображений</div>
  </div>
  <div class="row" *ngIf="measurement?.pictures.length!==0">
    <div class="col s3 picture-container" *ngFor="let picture of measurement?.pictures; let i = index">
      <img class="col s12 picture" (click)="openPicture(i)" src="{{picture.url}}"/>
      <div class="col s12 picture-date center-align">
        {{picture?.auto_date | dateFormat: 'fullDate'}}
      </div>
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col s5 divider"></div>
    <div class="col s2 center-align header">Комментарии</div>
    <div class="col s5 divider"></div>
  </div>
  <div *ngIf="measurement?.comments.length!==0" class="row">
    <div *ngFor="let comment of measurement?.comments" class="col s12">
      <app-deal-comments [comment]="comment"></app-deal-comments>
    </div>
  </div>
  <div *ngIf="measurement?.comments.length===0" class="row">
    <div class="col s12 offset-s1 no-information">Нет комментариев</div>
  </div>
  <div class="fixed-action-btn click-to-toggle" *ngIf="(measurement?.status==0||measurement?.status==1)&&showEditButtons">
    <a class="btn-floating btn-large orange" id="main-btn">
      <i class="large material-icons color-fab-icon">menu</i>
    </a>
    <ul class="fab-ul">
      <li class="hover-element li-element-menu-fab" (click)="showMeasurementReject = !showMeasurementReject"
          onclick="$('#main-btn').click()">
        <div class="center-align valign-wrapper menu-li-div"><span class="fab-text">Отклонить замер</span>
          <div class="icon-fab center-align valign-wrapper"><i class="material-icons color-fab-icon">close</i></div>
        </div>
      </li>
      <li class="hover-element li-element-menu-fab" (click)="showMeasurementEdit = !showMeasurementEdit"
          onclick="$('#main-btn').click()">
        <div class="center-align valign-wrapper menu-li-div"><span class="fab-text">Редактировать замер</span>
          <div class="icon-fab center-align valign-wrapper"><i class="material-icons color-fab-icon">edit</i></div>
        </div>
      </li>
      <li class="hover-element li-element-menu-fab" (click)="showMeasurementTransfer = !showMeasurementTransfer"
          onclick="$('#main-btn').click()">
        <div class="center-align valign-wrapper menu-li-div"><span class="fab-text">Перенести замер</span>
          <div class="icon-fab center-align valign-wrapper"><i class="material-icons color-fab-icon">event</i></div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="!loadPage" class="col s12 measurement-comment-content valign-wrapper">
  <app-comment class="comment-content" (comment)="sendComment($event)"></app-comment>
</div>
<app-image-modal [picture]="picture"
                 [(visible)]="showPicture"
                 (close)="closePicture()">
</app-image-modal>
<app-measurement-reject [measurement]="measurement"
                        (successRejectMeasurement)="successMeasurementUpdate()"
                        [(visible)]="showMeasurementReject">
</app-measurement-reject>
<app-measurement-transfer [measurement]="measurement"
                          (successTransferMeasurement)="successMeasurementUpdate()"
                          [(visible)]="showMeasurementTransfer">
</app-measurement-transfer>
<app-measurement-edit [measurement]="measurement"
                      (successMeasurementEdit)="successMeasurementUpdate()"
                      [(visible)]="showMeasurementEdit">
</app-measurement-edit>
