<div class="col s12 detail-col scrollable-page" id="page">
  <div *ngIf="!measurement" class="spinner-contener">
    <app-preloader></app-preloader>
  </div>
  <div *ngIf="measurement" class="row main-row valign-wrapper">
    <div class="col s4 valign-wrapper">
      <div [style.color]="measurement?.worker ? 'green': 'red'">{{measurement?.worker | workerName}}</div>
    </div>
    <div class="col s4 valign-wrapper">
      <div>{{measurement?.status | measurementStatus}}</div>
    </div>
    <div class="col s4">
      <i class="tiny material-icons icon date-icon">date_range</i>
      <div class="deal-date">
        <div>Создана:{{measurement?.date | dateFormat: 'date'}}</div>
        <div>Изменялась:{{measurement?.auto_date | dateFormat: 'date'}}</div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row main-info">
    <div class="col s7">
      <div class="deal">Замер {{measurement?.deal}}</div>
      <div class="status-container valign-wrapper">
        <div [appColorCompany]="measurement?.company?.symbol" class="company-symbol">{{measurement?.company?.symbol}}</div>
        <div class="company-name">{{measurement?.company?.name}}</div>
      </div>
      <div class="measurement-info">
        <div class="valign-wrapper">
          <i class="tiny material-icons icon">location_on</i> {{measurement?.address | address}}
        </div>
        <div class="valign-wrapper">
          <i class="tiny material-icons icon">access_time</i> {{measurement?.address_comment}}
        </div>
        <div class="valign-wrapper">
          <i class="tiny material-icons icon">attach_money</i> {{measurement?.sum | money}}
        </div>
        <div class="valign-wrapper">
          <i class="tiny material-icons icon">date_range</i> {{measurement?.non_cash | nonCash}}
        </div>
      </div>
    </div>
    <div class="col s5">
      <div class="row main-row">
        <div class="col s12 valign-wrapper">
          <hr class="col s4">
          <div class="col s4 center-align header">Контакты</div>
          <hr class="col s4">
        </div>
      </div>
      <div class="row">
        <div *ngFor="let client of measurement?.clients; let i = index" class="col s12">
          <div (click)="openClientInfo(i)" class="valign-wrapper contact-info forward-block col s12 hover-element">
            <div class="col s6 valign-wrapper detail-col-right">
              <i class="small material-icons icon">person</i>
              {{client.client.fio}}
            </div>
            <div class="col s5">{{client.client.phones[0].number | phoneFormat}}</div>
            <i class="arrow col s1 material-icons detail-col-left">chevron_right</i>
          </div>
          <hr class="col s12 black">
        </div>
      </div>
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col s5 divider"></div>
    <div class="col s2 center-align header">История</div>
    <div class="col s5 divider"></div>
  </div>
  <div class="history">
    <div class="col s12 offset-s1">История замера:</div>
    <div class="row">
      <div *ngFor="let action of measurement?.actions"  class="col s10 offset-s1">
        <div>{{action.auto_date | dateFormat: 'fullDate'}} {{action | action: 'measurement'}}</div>
      </div>
    </div>
    <div class="col s12 offset-s1">Переносы замера:</div>
    <div class="row">
      <div *ngFor="let transfer of measurement?.transfers" class="col s10 offset-s1">
        <div>{{transfer.auto_date | dateFormat: 'fullDate'}} {{transfer | transfer: 'measurement'}}</div>
      </div>
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col s5 divider"></div>
    <div class="col s2 center-align header">Изображения</div>
    <div class="col s5 divider"></div>
  </div>
  <div *ngIf="measurement?.pictures.length===0" class="row">
    <div  class="col s12 offset-s1 history">Нет изображений</div>
  </div>
  <div class="row" *ngIf="measurement?.pictures.length!==0">
    <div class="col s3" *ngFor="let picture of measurement?.pictures; let i = index">
      <img class="col s12 picture" (click)="openPicture(i)" src="{{picture.url}}"/>
      <div class="col s12 picture-date center-align">{{picture?.auto_date | dateFormat: 'fullDate'}}</div>
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col s5 divider"></div>
    <div class="col s2 center-align header">Комментарии</div>
    <div class="col s5 divider"></div>
  </div>
  <div *ngIf="measurement?.comments.length!==0" class="row">
    <div *ngFor="let comment of measurement?.comments" class="col s12">
      <app-deal-comments [comment]="comment"></app-deal-comments>
    </div>
  </div>
  <div *ngIf="measurement?.comments.length===0" class="row">
    <div  class="col s12 offset-s1 history">Нет комментариев</div>
  </div>
  <app-deal-client-info [openClientInfo]="clientInfo" [client]="client" (close)="closeClientInfo()"></app-deal-client-info>
  <app-image-modal [picture]="picture" (close)="closePicture()"></app-image-modal>
</div>
<div *ngIf="measurement" class="col s12 measurement-comment-content valign-wrapper">
  <app-comment class="comment-content" (comment)="sendComment($event)"></app-comment>
</div>

