<div class="order-detail" *ngIf="activeOrderNotNull()">

  <h3>{{order.company?.name}} {{order.id}}</h3>

  <p>Дата создания : {{this.utils.dateFormat(order.auto_date)}}</p>
  <p>Дата последнего изменения : {{this.utils.dateFormat(order.task_date)}}</p>

  <h5>Данные с заявки:</h5>
  <div class="order_info">
    <p>Имя : {{order.fio}}</p>
    <p>Телефон : {{order.phone}}</p>
    <p>Комментарий с сайта : {{order.info}}</p>
    <p>Эл. почта : {{order.email}}</p>
    <p>Телефон : {{order.phone}}</p>
  </div>

  <div class="client">
    <app-client [lastPage]="this" [client]="order.client"></app-client>
  </div>

  <h5>История:</h5>
  <div class="actions" *ngFor="let action of order.actions">
    {{actionDecoder(action)}}
  </div>

  <div class="buttons">
    <a class="waves-effect waves-light btn-large" (click)="reject()"><i
      class="material-icons left">clear</i>Отказать</a>
    <a class="waves-effect waves-light btn-large" (click)="defer()"><i class="material-icons left">access_time</i>Отложить</a>
    <a class="waves-effect waves-light btn-large" (click)="in_a_deal()"><i class="material-icons left">check</i>В сделку</a>
  </div>

  <app-order-defer [lastPage]="this" [order]="order"></app-order-defer>
  <app-order-reject [lastPage]="this" [order]="order"></app-order-reject>
</div>
