<div *ngIf="loader" class="spinner-contener">
  <app-preloader></app-preloader>
</div>
<div *ngIf="!loader" class="order-detail col s12 scrollable-page white">
  <div class="card horizontal info-card grey lighten-5">
    <div class="card-stacked col s12">
      <div class="card-content col s12">
        <div class="text col s7">
          <h3>{{order?.company?.name | companyName}}</h3>
          <h5 class="indigo-text text-lighten-2">Данные с заявки:</h5>
          <ul>
            <li><i class="tiny material-icons icon">person</i> {{order?.fio | clientName}}</li>
            <li><i class="tiny material-icons icon">local_phone</i> {{order?.phone | phoneFormat}}</li>
            <li><i class="tiny material-icons icon">email</i> {{order?.email | email}}</li>
          </ul>
        </div>
        <div class="date-info col s5">
          <div class="date-icon"> <i class="tiny material-icons icon">date_range</i> </div>
          <div class="data-detail">
            <div>Создана: {{order?.auto_date | dateFormat: 'fullDate'}}</div>
            <div>Последнее изменение: {{order?.task_date | dateFormat: 'fullDate'}}</div>
          </div>
          <div class="client no-border" routerLink="client/{{order?.client?.id}}">
              <app-client [client]="order?.client"></app-client>
          </div>
        </div>
      </div>
      <div *ngIf="order?.info" class="col s12 text comment-info">
        <div class="indigo-text text-lighten-2">Комментарий с сайта: </div>
        <p class="text-black comment">{{order?.info}}</p>
      </div>
      <div class="col s12 buttons right-align">
        <a class="waves-effect waves-light btn-large button" (click)="openDefer()"><i class="material-icons left">clear</i>Отложить</a>
        <a class="waves-effect waves-light btn-large button" (click)="openReject()"><i class="material-icons left">access_time</i>Отказать</a>
        <a class="waves-effect waves-light btn-large button" (click)="openToDeal()"><i class="material-icons left">check</i>В сделку</a>
      </div>
    </div>
  </div>
    <div *ngIf="order?.actions.length !== 0" class="col s12 card horizontal info-card grey lighten-5">
      <div class="card-stacked text col s12">
        <h5 class="col s12 indigo-text text-lighten-2 history">История:</h5>
        <div class="col s12" *ngFor="let action of order?.actions">
          <p>{{action.auto_date | dateFormat: 'fullDate'}} {{actionDecoder(action)}}</p>
        </div>
      </div>
    </div>
  <app-order-defer [openDefer]="deferOpenValue" (close)="closeDefer()"></app-order-defer>
  <app-order-reject [openReject]="rejectOpenValue" (close)="closeReject()"></app-order-reject>
  <app-order-to-deal [order]="order" [openToDeal]="inDealOpenValue" (close)="closeToDeal()"></app-order-to-deal>
</div>
