radius {
  margin-top: 20px;
}

.order-detail{
  padding-top: 15px;
}
.buttons{
  padding-top: 20px;
}
.order_info{
  padding-left: 20px;
}

ul li {
  font-size: 16px;
}

.date_info {
  font-size: 16px;
  padding-top: 25px;
}

.shift_right {
  margin-left: 18px;
}

.buttons {
  margin-bottom: 20px;
}

.icon {
  margin-top: 5px;
}
