.order-detail{
  padding-top: 15px;
}
.buttons{
  padding-top: 20px;
  padding-bottom: 20px;
}

ul li {
  font-size: 16px;
}

.date-info {
  font-size: 16px;
  padding-top: 25px;
}

.data-detail {
  margin-left: 18px;
}

.buttons {
  margin-top: 20px;
}

.icon {
  margin-top: 5px;
}

.card-content {
  padding: 0 0 18px 0;
}

.scrollable-page {
  padding-right: 20px;
  padding-left: 20px;
}

.comment {
  margin-top: 0;
}

.info-card {
  padding-left: 13px;
}

.date-icon {
  float: left;
}

.history {
  margin-bottom: 0;
}


