<div class="col s12 scrollable-page white" [class.no-scroll]="loader">
  <div *ngIf="loader" class="spinner-contener">
    <app-preloader></app-preloader>
  </div>
  <div *ngIf="!loader" class="main-div row col s12">
    <div class="icon"><i class="tiny material-icons">date_range</i></div>
    <div class="last-change-text">Дата события: {{order?.task_date | dateFormat: 'fullDate'}}</div>
    <div class="divider"></div>

    <div class="col s12 detail-col valign-wrapper left-align">
      <div class="text col s7">
        <div class="company-name">{{order?.company?.name | companyName}}</div>
        <div class="create">Создана: {{order?.auto_date | dateFormat: 'fullDate'}}</div>
        <ul>
          <li><i class="tiny material-icons icon">person</i> {{order?.fio | clientName}}</li>
          <li><i class="tiny material-icons icon">local_phone</i> {{order?.phone | phoneFormat}}</li>
          <li><i class="tiny material-icons icon">email</i> {{order?.email | email}}</li>
        </ul>
      </div>
      <div class="col s5">
        <div class="row contacts">
          <div class="col s12 valign-wrapper contacts-no-padding">
            <hr class="col s4">
            <div class="col s4 center-align header">Контакты</div>
            <hr class="col s4">
          </div>
        </div>
        <div class="row">
          <div routerLink="client/{{order?.client?.id}}"
               class="valign-wrapper contact-info forward-block col s12 hover-element no-border">
            <div class="col s6 valign-wrapper detail-col-right">
              <i class="small material-icons icon">person</i>
              {{order?.client?.fio | clientName}}
            </div>
            <div class="col s5 div-number">{{order?.client?.phones[0]?.number | phoneFormat}}</div>
            <i class="arrow col s1 material-icons detail-col-left">chevron_right</i>
          </div>
          <hr class="col s12 black">
        </div>
      </div>
    </div>

    <div *ngIf="order?.info" class="col s12 text comment-info">
      <div class="indigo-text text-lighten-2">Комментарий с сайта:</div>
      <p class="text-black comment">{{order?.info}}</p>
    </div>


    <div class="col s12 valign-wrapper detail-col">
      <div class="col s5 divider "></div>
      <div class="col s2 center-align">История</div>
      <div class="col s5 divider "></div>
    </div>
    <div *ngIf="order?.actions.length !== 0" class="col s12  horizontal info-card lighten-5">
      <div class="text col s12 action">
        <div class="col s12" *ngFor="let action of order?.actions">
          <p>{{action.auto_date | dateFormat: 'fullDate'}} {{actionDecoder(action)}}</p>
        </div>
      </div>
    </div>
    <div class="fixed-action-btn click-to-toggle" *ngIf="!(order?.status==1 || order?.status==3)">
      <a class="btn-floating btn-large orange" id="main-btn">
        <i class="large material-icons color-fab-icon">menu</i>
      </a>
      <ul class="fab-ul">
        <li class="hover-element li-element-menu-fab" (click)="showDialogDefer = !showDialogDefer;" onclick="$('#main-btn').click();">
          <div class="center-align valign-wrapper menu-li-div"><span class="fab-text">Отложить</span>
            <div class="icon-fab center-align valign-wrapper"><i class="material-icons color-fab-icon">access_time</i>
            </div>
          </div>
        </li>
        <li class="hover-element li-element-menu-fab" (click)="showDialogReject = !showDialogReject" onclick="$('#main-btn').click();">
          <div class="center-align valign-wrapper menu-li-div"><span class="fab-text">Отказать</span>
            <div class="icon-fab center-align valign-wrapper"><i class="material-icons color-fab-icon">close</i></div>
          </div>
        </li>
        <li routerLink="to_deal" class="hover-element li-element-menu-fab" (click)="onNewDeal()">
          <div class="center-align valign-wrapper menu-li-div">
            <span class="fab-text">В сделку</span>
            <div class="icon-fab center-align valign-wrapper">
              <i class="material-icons color-fab-icon">check</i>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <app-order-reject [order]="order" (successOrder)="successUpdate($event)"
                    [(visible)]="showDialogReject"></app-order-reject>
  <app-order-defer-dialog [order]="order" (successOrder)="successUpdate($event)"
                          [(visible)]="showDialogDefer"></app-order-defer-dialog>
</div>
