.image-content {
  float: left;
}

.image {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: white;
  border-radius: 50%;
}

.content {
  margin-left: 20px;
}

.name {
  margin-top: 8px;
  font-size: 16px;
}

.mount-time {
  margin-top: 5px;
}

.icon {
  margin-right: 5px;
}

.undistributedMeasurement {
  background-color: grey;
}

.responsibleAppointed {
  background-color: #ffa726;
}

.closedNotConcluded {
  background-color: grey;
}

.closedContractConcluded {
  background-color: green;
}

.renouncement {
  background-color: red;
}
