<div class="col s12 valign-wrapper forward-block hover-element no-border"
     routerLink="{{urlToMeasurement}}">
  <div class="valign-wrapper col s11">
    <div class="image-content">
      <i ngClass="{{measurementStatus.color}}"
         class="small material-icons icon image">
        {{measurementStatus?.icon}}
      </i>
    </div>
    <div class="content-dialog">
      <div class="mount-time valign-wrapper">
        <i class="tiny material-icons icon">access_time</i>{{measurement?.time}}
      </div>
      <div class="name valign-wrapper">
        <i class="tiny material-icons icon">error_outline</i>
        <div>{{measurement?.worker | workerName}}</div>
      </div>
    </div>
  </div>
  <i class="arrow col s1 material-icons right-align">chevron_right</i>
</div>


