<div routerLink="measurement/{{measurement?.id}}"
     class="card horizontal order hover-element hoverable no-border col s12">
  <div class="center-align valign-wrapper">
    <div class="icon status-image">
        H
    </div>
  </div>
  <div class="card-stacked">
    <div class="time"><i class="tiny material-icons icon">access_time</i> {{measurement?.time}}</div>
    <div class="name"><i class="tiny material-icons icon">person</i> {{measurement?.worker?.first_name}} {{measurement?.worker?.last_name}}</div>
  </div>
</div>
