.open{
  display: block;
}
.modal-header{
  padding: 5px 5px 5px 20px;
}
.modal {
  width: 500px;
  height: 500px;
  z-index: 1000;
  top: calc((100vh - 500px)/2);
  left: 5vw;
}
.add-installer-btn {
  padding: 5px;
}
/*.add-btn{*/
  /*padding-right: 5px;*/
/*}*/
