.list-col{
  overflow-y: scroll;
  background-color: #e5e5e5;
  min-width: 200px;
  width: 100%;
  height: 80vh;
  margin: 83px 0 0 0;
}
.list-col::-webkit-scrollbar{width: 0;}
.list-col { -ms-overflow-style: none;}
.list-col { overflow: -moz-scrollbars-none; }
.main-row{
  padding: 0;
  margin: 0;
}

.detail-col{
  padding: 0!important;
}
.hovered{
  background-color: #dddddd;
}
.active_card{
  background-color: #cccccc;
}
.modal {
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -300px;
  overflow: hidden;
  z-index: 2000;
  width: 500px;
  padding: 0;
  margin-left: -250px;
}

.client{

}
.button {
  font-size: 18px;
  text-transform: none;
  background-color: #5c6b96;
}

.button:hover {
  background-color: #5c8496;
}

.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  will-change: opacity;
}

.icon{
  color: #777777;
}

.radius {
  border-radius: 10px;
}
.cursor {
  cursor: pointer;
}
.scrollPosition {
  overflow: scroll;
  height: 91vh;
  overflow-x: hidden;
}
.max_string {
  word-wrap: break-word;
}

.no-border:focus {
  outline: none;
}

.left_indent {
  padding-left: 0!important;
}
