/*Блок, содержащий список карточек(заказы, сделки)*/
.list-col{
  margin-top: 70px;
  position: relative;
  overflow-y: scroll;
  background-color: #ffffff;
  min-width: 200px;
  width: 100%;
  height: calc(100vh - 134px);
}
/*Классы для отмены прокрутки в list-col*/
.list-col::-webkit-scrollbar{width: 0;}
.list-col { -ms-overflow-style: none;}
.list-col { overflow: -moz-scrollbars-none; }
/*---------------------------------------*/
/*Классы для отмены встроенных padding, margin*/
.main-row{
  padding: 0;
  margin: 0;
}
.detail-col{
  padding: 0!important;
}
.detail-col-left {
  padding-left: 0!important;
}
.detail-col-right {
  padding-right: 0!important;
}
/*-------------------------------*/
/*Классы для работы с карточками*/
.hovered {
  background-color: #dddddd;
}
.active-card {
  background-color: #cccccc;
}
.info-card {
  border-radius: 10px;
}
/*------------------------------*/
.modal {
  background: #fff;
  position: fixed;
  left: 50vh;
  top: 50vh;
  overflow: hidden;
  z-index: 2000;
  width: 500px;
  padding: 0;
}
/*Классы для кнопки*/
.button {
  font-size: 18px;
  text-transform: none;
  background-color: #5c6b96;
}
.button:hover {
  background-color: #5c8496;
}
/*---------------------------------*/
.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  will-change: opacity;
}

.icon {
  color: #777777;
}
/*Выделенный элемент*/
.hover-element {
  cursor: pointer;
}
/*Отмена горизонтальной прокрутки*/
.scrollable-page {
  overflow: scroll;
  height: calc(100vh - 64px);
  overflow-x: hidden;
}
/*Ограничение текста в родительском контейнере*/
.text {
  word-wrap: break-word;
}

.no-scroll {
  overflow: hidden;
}

.no-border:focus {
  outline: none;
}

/*Контенер для расположения preloadera*/
.spinner-contener {
  height: 100%;
  margin: auto 0;
}

.spinner-page {
  height: calc(100vh - 64px);
  margin: auto 0;
}
/*Классы для карточек заказов и каточек сделок в списке*/
.card-date-icon {
  margin-right: 3px;
}
.card-date {
  font-size: 12px;
}
.status-image {
  min-width: 60px;
}
.image {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: white;
  border-radius: 50%;
}
.info {
  margin: 5px;
}
.company {
  font-size: 20px;
  line-height: 1.5;
}
.time {
  padding: 0 5px 0 5px;
}
.main-info-card {
  font-size: 14px;
  line-height: 1.8;
  padding-right: 5px;
}
/*-------------------------------*/
/*Блок для символа компания*/
.company-symbol {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ffa726;
  float: left;
  text-align: center;
  font-size: 28px;
  color: white;
  line-height: 50px;
}
/*-------------------------------*/

/*---------FAB----------*/
/*Все стили для fab(летяющая кнопочка)*/
/*Чтобы подвинуть кнопку выше или еще куда - переопределить класс fixed-action-btn*/
.color-fab-icon {
  color: white;
  margin: auto;
}

/*Задает ширину для выпадающего меню*/
.fab-ul {
  position: relative;
  left: -150px!important;
  background-color: #f4f4f4;
  text-align: right;
  border-radius: 10px;
}

.li-element-menu-fab {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0!important;
}

.li-element-menu-fab:hover {
  background-color: #e2e2e2;
  border-radius: 10px;
}

.menu-li-div {
  position: relative;
  height: 35px;
}

.fab-text {
  padding-right: 5px;
  padding-left: 5px;
  position: absolute;
  right: 55px;
}

.icon-fab {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  background-color: #5c6b96;
  right: 0;
  margin-right: 10px;
}

/*-------конец FAB---------*/
/* Когда контент пустой */
.no-information {
  font-size: 12px;
  line-height: 1.2rem;
  color: #9e9e9e;
}
