.event-window {
  position: fixed;
  bottom: 0;
  height: 70px;
  z-index: 100000;
}

.message {
  margin: auto;
}

.message-container {
  margin-top: 25px;
  height: 45px;
}

.dialog-close-btn {
  background-color: #ffa726;
}
