<h5 class="header">Компании</h5>
<div class="col s2"></div>
<div class="col s6 scroll-container">
  <app-company *ngFor="let company of companies"
                 [company]="company" (onEdit)="openCompanyModal($event)">
  </app-company>
</div>
<div class="col s4"></div>
<a class="btn-floating btn-large waves-effect waves-light red float-action-btn" (click)="openCompanyModal(null)"><i class="material-icons">add</i></a>

<app-company-edit [modalState]="companyModalState" (onClose)="editCompanyModalClose($event)"></app-company-edit>
