.client-info {
  height: calc(100vh - 64px);
  background-color: #7481a6;
}

.row {
  margin-bottom: 0;
}

.row-back {
  color: white;
}

i:hover + .back {
  opacity: 1;
}

.image-info {
  min-width: 90px;
  padding-left: 3%;
}

.image {
  width: 80px;
  height: 80px;
  background: #ffa726;
  text-align: center;
  line-height: 80px;
  font-size: 46px;
  color: white;
  border-radius: 50%;
  margin-top: 50%;
}

.card-content {
  min-width: 80%;
}

.card {
  margin: 2.5rem 0 1rem 0;
}

.name {
  font-size: 24px;
  line-height: 1.6rem;
}

.email {
  font-size: 20px;
  line-height: 1.5;
}

.phone {
  font-size: 20px;
  line-height: 1.5;
}

.back {
  margin-left: 10px;
  opacity: 0;
}

.info-block {
  margin-top: 20px;
  line-height: 1.5em;
}

.h-deals {
  text-align: center;
  font-size: 2em;
  text-shadow: 5px 5px 15px rgba(40, 38, 120, 0.2);
  color: #5f5e8a;
}

.btn-dialog-cancel {
  width: 120px;
  bottom: 18px;
  right: 0;
}





