<div *ngIf="loader" class="spinner-page">
  <app-preloader></app-preloader>
</div>
<div *ngIf="!loader" class="row">
  <div class="col s4 client-info white-text scrollable-page">
    <div class="text">
      <div class="row main-row">
        <div class="col s4 detail-col row-back">
          <i class="medium material-icons white-text no-border hover-element center-align"
             routerLink="{{backUrl}}">arrow_back
          </i>
          <div class="back">Назад</div>
        </div>
        <div class="col s7 button-container">
          <button class="btn-dialog-cancel" (click)="changeClientDialog()">
            Редактировать клиента
          </button>
        </div>
      </div>
      <div class="center-align row">
        <img class="status-image col s8 offset-s2" src="assets/images/client.png"/>
      </div>
      <div class="center-align name">{{client?.fio | clientName}}</div>
      <div class="info-block">
        <div class="left-align email">
          <i class="tiny material-icons">email</i> {{client?.email | email}}
        </div>
        <div class="left-align phone-info" *ngFor="let phone of client?.phones">
          <div class="phone">
            <i class="tiny material-icons">local_phone</i> {{phone?.number | phoneFormat}}
          </div>
          <div>{{phone?.comment}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s8 grey lighten-3 scrollable-page">
    <router-outlet></router-outlet>
    <div class="col s10 offset-s1">
      <div class="h-deals">Сделки</div>
      <div *ngFor="let deal of client?.deals">
        <app-client-deal [deal]="deal"></app-client-deal>
      </div>
    </div>
  </div>
</div>
<app-change-client [(visible)]="showChangeClientDialog"
                   [client]="changeClient"
                   (successChangeClient)="successChangeClient($event)"></app-change-client>





