textarea {
  margin-bottom: 0;
  border: 1px solid #c4c4c4;
  background: #ffffff;
  height: 28px;
  margin-left: 20px;
  resize: none;
  font-size: 16px;
}

textarea:focus {
  background: white;
  height: 50px;
}

textarea::-webkit-scrollbar {
  width: 0;
}

textarea {
  -ms-overflow-style: none;
}

textarea {
  overflow: -moz-scrollbars-none;
}

.send {
  margin-left: 20px;
}
